div {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', Helvetica, sans-serif;
  /* Я хотел бы отказаться от использования шрифта Arial в своих проектах */
  /* ниже привожу ссылки на статьи, из-за которых я решил так поступить */
  /* https://www.artlebedev.ru/kovodstvo/business-lynch/2013/04/03/ */
  /* https://infogra.ru/typography/master-klass-alekseya-kaptereva-pochemu-stiv-dzhobs-lyubil-shrifty */
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
